

.intro-text {
  font-weight: 800;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  line-height: 1.2;
  color: #000000;
  margin-bottom: 1rem;
}

.name {
  font-weight: 800;
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.2;
  color: #000000;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 800;
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: #919191;
  margin-bottom: 2rem;
}


/* Image Section */
.profile-image {
  position:center;
  width: 50%;
  height: 100%;
  top: 10%;
  left: -20%;
  transform: rotate(.67deg);
  object-fit: center;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .content {
    max-width: 100%;
    padding: 2rem;
  }

  .image-container {
    position: relative;
    height: 50vh;
    width: 100%;
    right: 0;
    top: 0;
    transform: none;
  }

  .profile-image {
    top: 0;
    left: 0;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .intro-text {
    font-size: 1.5rem;
  }

  .name {
    font-size: 2rem;
  }

  .title {
    font-size: 1rem;
  }

  .icons {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding: 1rem;
  }

  .image-container {
    height: 40vh;
  }
}
